.root {
  position: relative;
  float: left;
  margin-right: 10px;
}

.input {
  background-color: #2772c7;
  border-radius: 30px;
  padding: 15px 20px;
  max-width: 350px;
  min-width: 250px;
  text-align: center;
  border: 1.5px solid #2772c7;
  background-color: #fff;
  border-color: #2772c7;

  &:focus {
    border: 1.5px solid blue;
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 25px;
  top: 18px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
