@import '../variables';

.full-page {
  align-self: center;
  margin-bottom: 65px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
  align-items: center;

  .image {
    width: calc(250px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));
    max-width: 460px;
  }

  &__button {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__selector {
    align-self: center;
    margin-top: 10px;
    background-color: rgba(160, 241, 255, 0.1);
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }
}

.item-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
  margin-left: 20px;

  &__image {
    width: 260px;
  }

  h4 {
    cursor: pointer;
  }
  .animate {
    margin-bottom: 250px;
    position: relative;
  }
  .animate img {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
  }
  .animate img.first {
    opacity: 0;

    filter: alpha (opacity==0);
  }

  .animate:hover img.first {
    opacity: 1;

    filter: alpha (opacity==100);
  }

  .animate:hover img.second,
  .animate img.second:hover {
    opacity: 0;

    filter: alpha (opacity==0);
    -moz-transition: all 0.2s ease-in-out;

    -webkit-transition: all 0.2s ease-in-out;

    -o-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted blue;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    border: 1px solid transparent;
    border-radius: 30px;
    border-color: #2772c7;
    background-color: rgb(255, 255, 255);
    color: blue;
    white-space: pre-wrap;

    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 3;
    bottom: 125%;
    left: 50%;
    margin-left: -240px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2772c7 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  &__title {
    font-size: 25px;

    letter-spacing: 1%;
    margin-bottom: 5px;
  }
  &__second-title {
    color: #2772c7;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 6px;
  }

  &__selector {
    display: flex;
    margin-top: 10px;
    background-color: rgba(160, 241, 255, 0.1);
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: pointer;
        }
        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
