.root {
  text-align: center;
  padding: 50px;
  h1 {
    color: #2772c7;
    font-size: 24px;
    letter-spacing: 1%;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 60px;
    span {
      size: 500px;
    }
  }

  p {
    color: #7b7b7b;
  }
}
